@font-face {
  font-family: 'Lato';
  src: url('./../fonts/lato-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./../fonts/lato-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}