.team__comment {
  background-image: url("./../images/backgrounds/team-comment-bg.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  background-color: #fff;
  padding-top: 4.7rem;
  padding-bottom: 2rem;
}

.team__comment-inner {
  max-width: 890px;
  margin: 0 auto;
  font-size: 2rem;
  color: #fff;
}
.comment{
  outline: none;
}

.comment__text {
  font-family: "Lato Light", Arial, sans-serif;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 1.3rem;
}

.comment__author {
  font-family: 'Lato Bold', Arial, sans-serif;
  display: block;
  text-align: center;
}

.comment__author-name {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid $border-color;
  padding-right: 11px;
}
/* SLIDER */
.slick-dots {
  width: auto;
  display: inline-block;
  padding-left: 5px;
  position: static;
  vertical-align: middle;
  font-size: 1rem;
}

.slick-dots li {
  height: 8px;
  width: 8px;
  padding: 0 3px;
}

.slick-dots li button {
  border: 1px solid white;
  border-radius: 50%;
  background: transparent;
  display: block;
  height: 8px;
  width: 8px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button:before {
  content: "";
  background: transparent;
  opacity: 0;
  width: 0;
  height: 0;
}

.slick-active #slick-slide-control03,
.slick-active #slick-slide-control07,
.slick-active #slick-slide-control011 {
  background-color: #fff;
}