main.page-main {
  width: 100%;
  background-color: #fff;
  padding-top: 6.1rem;
}

section.page-main__inner {
  max-width: 910px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

h3.domain__head {
  text-align: center;
  font-family: 'Lato Black', Arial, sans-serif;
  font-size: 2.4rem;
}

p.domain__text {
  text-align: center;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1.6rem;
  color: #a2a2a2;
  letter-spacing: -0.3px;
}

.domain-header {
  margin-bottom: 5rem;
}

.domain__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border: 1px solid $border-color;
  margin-bottom: 4rem;
}

.domain__label {
  margin: 5px 0 7px;
  padding: 8px 14px;
  font-size: 1.6rem;
  color: #cbcbcb;
  border-right: 1px solid $border-color;
}

.domain__name-input {
  width: 100%;
  align-self: stretch;
  padding: 8px 15px;
  border: none;
  color: #868686;
  font-size: 1.5rem;

  &:focus {
    background-color: #eee;
    outline: none;
  }
}

.domain__select {
  font-size: 1.6rem;
  color: #cbcbcb;
  margin: 6px 0;
  padding: 6px 35px 8px 14px;
  border: none;
  border-left: 1px solid $border-color;
  outline: none;
  appearance: none;
  background: url('./../images/misc/angle_down.svg') no-repeat #fff;
  background-size: 10px;
  background-position: 60px 13px;
}

.domain-table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

.domain-table__row {
  
  &::after { 
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    height: 10px;
    background-color: white;
  }

}

.domain-table__cell {
  width: 25%;
  border: 1px solid $border-color;
  padding: 40px 3rem;
  text-align: center;
  font-size: 1.4rem;
  color: #cbcbcb;
}