main.page-main {
  width: 100%;
  background-color: #fff;
  padding-top: 6.1rem;
}
section.page-main__inner {
  max-width: 910px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
h3.domain__head {
  text-align: center;
  font-family: 'Lato Black', Arial, sans-serif;
  font-size: 2.4rem;
  margin: 2.4rem 0;
}
p.domain__text {
  text-align: center;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1.6rem;
  color: #a2a2a2;
  letter-spacing: -0.4px;
}
.domain-header {
  margin-bottom: 4.9rem;
}