html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

a {
  background-color: transparent; }

img {
  border-style: none; }

input,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

input {
  overflow: visible; }

select {
  text-transform: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

@font-face {
  font-family: 'Lato';
  src: url("./../fonts/lato-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato Medium';
  src: url("./../fonts/lato-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("./../fonts/myriadpro-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato Semibold';
  src: url("lato-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Lato Regular';
  src: url("lato-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Black';
  src: url("lato-black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("montserratlternates-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: Lato, Arial, sans-serif; }

ul, p {
  padding: 0;
  margin: 0; }

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.table-container {
  overflow-x: auto; }

.page-header {
  background-color: #000; }

.page-header__outer {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url("../images/backgrounds/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: -5px -24px;
  background-size: 100% 100%;
  color: #fff; }
  @media screen and (max-width: 949px) {
    .page-header__outer {
      background-size: cover; } }

.page-header__inner {
  max-width: 1220px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.page-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #2e2f31; }

.page-header__logo {
  margin: 32px 0px 28px 4px;
  width: 133px;
  height: 29px; }

a.page-header__logo-link {
  display: block; }
  a.page-header__logo-link:hover {
    opacity: 0.5; }

img.page-header__logo-pic {
  width: 100%; }

ul.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 950px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

li.nav-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato Medium";
  font-size: 1.6rem;
  padding: 32px 0;
  margin-left: 6.89rem;
  border-bottom: 1px solid transparent; }
  li.nav-list__item:hover {
    cursor: pointer;
    border-bottom: 1px solid #fff; }

li.nav-list__item--active {
  border-bottom: 1px solid #fff; }

a.nav-list__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem; }

.greetings {
  text-align: center;
  margin-top: 33.1rem;
  margin-bottom: 34rem; }

.greetings__head {
  font-size: 7.2rem;
  font-family: "Myriad Pro", Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.7rem; }

.greetings__moto {
  font-family: Georgia, serif;
  font-size: 3.2rem;
  font-style: italic;
  line-height: 1.45; }

.page-header__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.page-header__auth-login, .page-header__auth-register {
  color: #fff;
  text-decoration: none;
  font-size: 2.2rem;
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 4.9rem;
  padding-bottom: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.page-header__auth-login {
  width: 49%;
  background-color: #21424a;
  padding-left: 19rem;
  position: relative; }
  .page-header__auth-login:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 5rem;
    background-color: #21424a;
    top: 0;
    bottom: 0;
    right: -2rem;
    -webkit-transform: skew(-13deg);
        -ms-transform: skew(-13deg);
            transform: skew(-13deg); }

.page-header__auth-register {
  background-color: #2fac6c;
  padding-right: 13.4rem;
  width: 52%; }

main.page-main {
  width: 100%;
  background-color: #fff;
  padding-top: 6.1rem; }

section.page-main__inner {
  max-width: 910px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto; }

h3.domain__head {
  text-align: center;
  font-family: 'Lato Black', Arial, sans-serif;
  font-size: 2.4rem; }

p.domain__text {
  text-align: center;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1.6rem;
  color: #a2a2a2;
  letter-spacing: -0.3px; }

.domain-header {
  margin-bottom: 5rem; }

.domain__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  margin-bottom: 4rem; }

.domain__label {
  margin: 5px 0 7px;
  padding: 8px 14px;
  font-size: 1.6rem;
  color: #cbcbcb;
  border-right: 1px solid #d9d9d9; }

.domain__name-input {
  width: 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 8px 15px;
  border: none;
  color: #868686;
  font-size: 1.5rem; }
  .domain__name-input:focus {
    background-color: #eee;
    outline: none; }

.domain__select {
  font-size: 1.6rem;
  color: #cbcbcb;
  margin: 6px 0;
  padding: 6px 35px 8px 14px;
  border: none;
  border-left: 1px solid #d9d9d9;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("./../images/misc/angle_down.svg") no-repeat #fff;
  background-size: 10px;
  background-position: 60px 13px; }

.domain-table {
  width: 100%;
  border-collapse: collapse;
  position: relative; }

.domain-table__row::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  height: 10px;
  background-color: white; }

.domain-table__cell {
  width: 25%;
  border: 1px solid #d9d9d9;
  padding: 40px 3rem;
  text-align: center;
  font-size: 1.4rem;
  color: #cbcbcb; }

.page-footer {
  background-color: #eee;
  height: 300px;
  width: 100%;
  margin-top: 550px; }

/*# sourceMappingURL=styles.css.map */
